.heatmap-wrapper {
  background-color: #191a20;
  padding: 1rem;
  border-radius: 10px;
  color: white;
  width: 100%;
  max-width: 100%;
  height: 290px;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid white ; */
  /* Fix overflow */
  overflow-x: hidden;
}
.heatmap-wrapper:hover {
  border: 2px solid #14b8a6;
}
.title {
  margin: 0 0 1rem 1rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
}
.react-calendar-heatmap text {
  fill: #8b949e; /* label color */
  font-size: 10px;
}
.react-calendar-heatmap {
  height: 125px;
  margin-top: 20px;
  margin-right: 13px;
}
.react-calendar-heatmap rect {
  width: 10px;
  height: 10px;
  margin: 4px;
  rx: 3px;
}
.color-empty {
  fill: #161b22;
}

.color-scale-1 {
  fill: #0e4429;
}

.color-scale-2 {
  fill: #006d32;
}

.color-scale-3 {
  fill: #26a641;
}

.color-scale-4 {
  fill: #39d353;
}
.login-tab.active {
  color: #14b8a6; /* teal-400 */
  border-bottom: 2px solid #14b8a6;
}
